parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$callback of static method Closure\:\:fromCallable\(\) expects callable\(\)\: mixed, array\{mixed, string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Job/Message.php
